/*for favicon*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  margin-top: 0;
  background-color: rgb(15, 15, 15);
  background-size: 30px; /* Set your header background color */
  z-index: 100; /* Make sure it's above other content */
}
.logo{
  width: 34px;;
  height: 27px;
  size: 27px;
  padding-left:140px;
}
nav{
display: inline;
}
/*seprarator*/
.separator {
border-top: 1px #252527;
margin-top: 80px;
}
/*for Body*/
body {
  background-color:rgb(15, 15, 15); /* Use the desired dark color */
  padding-top: 43px;
  font-family: 'Manrope', sans-serif;
  padding-right: auto;
  justify-content: center;
  
}
/*Navigation section*/
 nav ul {
  list-style: none;
  text-align: center;
  padding-right: 60px;
  padding-left: 60px;
}

nav ul li {
  display: inline-block;
  margin-right: 80px;
}
nav ul li a{
  display: inline;
  margin-top: 47px;
  width: 51px;
  height: 25px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
    }
nav ul li a:hover {
   color: yellow;
}
.nav-container {
  display: flex; /* Use flex layout */
  align-items: center; /* Vertically align items */
  justify-content: space-between; /* Distribute items along the main axis */
}

.logo img {
  width: 40px;
  height: 27px;
  size: 32px;
  padding-left: auto;
}

.nav-list {
  list-style: none;
  display: flex; /* Use flex layout */
}
.nav-list li {
  margin: 0 20px;
}
 
  .nav-list a {
  text-decoration: none;
  color: #fff;
}

.nav-list a:hover {
  text-decoration: none;
}
/* Apply general styling to navigation links */
.nav-list1 a {
margin-right: 20px;
text-decoration: none;
color: white;
}
.nav-list1 {
  list-style: none;
  display: flex; /* Use flex layout */
}
.nav-list1 li {
  margin: 0 20px;
}
 
  .nav-list1 a {
  text-decoration: none;
  color: #fff;
}

.nav-list1 a:hover {
  text-decoration: none;
}
.nav-list1 a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  }
  /* Hamburger Menu Icon Styles */
  .menu-icon {
    display: none;
    cursor: pointer;
    color: white;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    margin-right: 7px;
  }
  .close-icon {
    display: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .close-icon img {
    width: 20px;
    height: 20px;
  }

/* Style the last navigation link as a button */
.button-link {
line-height: 0;
background-color: rgb(175, 175, 5); /* Set your desired button color */
padding: 20px 30px;
/* align-content: center; */
border: none;
height: 10px;
border-radius: 30px;
transition: background-color 0.3s ease; /* Add a smooth transition *
}

.button-link:hover {
background-color: #17181E; /* Change background color on hover */
}

/*for Content Area*/
.content {
  display: flex; /* Use flex layout */
  align-items: center; /* Vertically align items */
  padding-top: 50px;
  padding-right: 200px;
  padding-left: 100px;
  justify-content: space-between; 
  margin-right: 18px;  
 }
  .content img {
  max-width: 400px; /* Set a maximum width for the image */
  right: 120px; /* Add spacing between image and text */
  float: right;
   }

.content p {
  flex: 1; /* Expand the paragraph to fill remaining space */
  margin-left: 30px;
}
.head{
  color: white;
  font-family: 'Manrope', sans-serif;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.75;
}
.color{
  color: yellow;
}

/*About section*/
/* Style the "About" image */
#about-section img {
width: 210px;;
  height: 60px;
  margin-top: 60px;
  padding-left: 110px;
}
/*for content*/
.about{
display: flex; /* Use flex layout */
align-items: center; /* Vertically align items */
padding-top: 10px;
padding-right: 70px;
}
.about img{
max-width: 480px; /* Set a maximum width for the image */
padding-left: 100px; /* Add spacing between image and text */
padding-right: 5px;
}
.about-note{
color: white;
padding-left: 200px;
}
.about{
flex: 1;
}
/*Workflow section*/
#workflow-section{
margin: auto;
display: flex;
justify-content: center;
align-items: center;
padding-top: 5px;
width: 130px;
height: 50%;
}
/*styles for workflow*/
.product {
position: relative; /* Create a positioning context for the helix icon */
}


.first{
position: relative;
}
.helixleft{
position: absolute;
left: 30px;
}
.left{
position: relative;
}
.helixright{
position: absolute;
right: 30px;
}
/*workflow blocks*/

.box-grid {
display: flex;
padding-top: 100px;
justify-content: center;
align-items: center;
min-width: 100;
}

.box {
flex: 0.22; /* Distribute available space equally among boxes */
height: 50px;
background-color:#17181E;
color: #fff;
text-align: justify;
padding-top: 20px;
width: 400px;
height: 280px;
padding-left: 15px;
border-radius: 24px;
margin: 0 8px; /* Adjust the margin to reduce space between boxes */
z-index: 1;
}
.nav-con{
display: flex; 
  align-items: center; 
  justify-content: space-between; 
  margin-right: 30px;
}

/*case study section*/
#case-section{
display: flex; /* Use flex layout */
align-items: center; /* Vertically align items */
padding: 50px;
width: 200px;
height: 50%;
margin-left: 50px;
margin-top: 30px;
padding-left: 40px;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 5px; /* Gap between images */
  margin: 30px; /* Equal margins around the grid */
}

.image {
  padding: 10px;
  padding-left: 50px;
}

.image img {
  max-width: 93%;
  height: auto;
}

/*Connect Section*/
.connect{
  color: white;
  text-align: center;
  padding: 30px;
}
.gmail{
  color: white;
}
/*Footer Section*/
.nav-contain{
  display: flex; /* Use flex layout */
  align-items: center; /* Vertically align items */
  justify-content: space-between; /* Distribute items along the main axis */
  margin-top: 50px;
  margin-bottom: 50px;
}
.container1{
  color: #fff;
  padding-left: 85px;
}


#content-section {
  padding-left: 700px;
  opacity: 40%;
  margin-top: 30px;
}
.image-with-shape1 {
  padding-left: 100px;
  opacity: 40%;
}
.image-with-shape2 {
  padding-left: 1000px;
  opacity: 40%;
  margin-top: 40px;
}
.image-with-shape5 {
  padding-left: 900px;
  opacity: 40%;
  margin-top: 40px;
}
.image-with-shape4 {
  padding-left: 1200px;
  opacity: 40%;
  margin-top: 40px;
}
.image-with-shape6 {
  opacity: 40%;
}
/* Media Query for Small Screens */
@media (min-width: 378px) and (max-width: 768px) {
  body {
    font-size: 16px; /* Adjust font size for this range */
    margin: 20px;    /* Adjust margin for this range */
  }
  .separator {
    border-top: 1px #252527;
    margin-top: 30px;
    }
  .logo{
    width: 30px;;
    height: 20px;
    size: 20px;
    padding-left:5px;
  }
  .menu-icon {
    display: block;
  }
  .close-icon {
    display:none;
    padding: 30px 0 0 330px;
    margin-top: 50px;
    margin-bottom: 50px;

  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Apply blur effect */
    z-index: 1;
  }
  
  .nav-list.active + .overlay {
    display: block;
  }



  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    /* background-color: rgb(15, 15, 15); */
    width: 100%;
    height: 100px;
    top: 0; /* Adjust this value */
    left: 0;
    z-index: 2;
  }
  #Dropdown{
    width: 87.5%;
    background-color:black;
    min-height: 600px;
    padding: 20px o 0 40px;
  }
  #Dropdown li {
    display: block;
    padding: 20px;
    text-align: left;
  }
  .button-link {
    display: inline-block;
    margin: 20px 20px 20px 0 ; 
    width: 220px;
    /* float: left;*/
    height: 50px;
    }
    .button-link a {
      text-align: center;
      padding: 10px;
      font-size: 1.5em;
    }
    .nav-list.active {
      display: flex;
    }
    #content-section {
      padding-left: 300px;
      margin-top: 0;
    }
    .content {
      display: block; /* Use flex layout */
      align-items: center; /* Vertically align items */
      padding-top: 10px;
      padding-right: 0;
      padding-left: 5px;
      margin-right: 0;  
      font-size: 15px;
     }
      .content img {
      display: none;
       }
       #about-section img {
        width: 190px;;
          height: 50px;
          margin-top: 35px;
          padding-left: 5px;
        }
       .about{
        display: block;
        padding-left: 0;
        text-align: center;
        width: 100%;
        }
        .about img{
        max-width: 100%; /* Set a maximum width for the image */
        padding-left: 0;
        }
        .about-note{
        color: white;
        padding-left: 0;
        font-size: 15px;
        text-align: left;
        margin-left: 30px;
        }
        .image-with-shape2 {
          padding-left: 400px;
          opacity: 40%;
        }
        #workflow-section{
          padding-top: 10px;
          height: 5px;
          padding-left: 30px;
          }
          /*styles for workflow*/
          .product {
          position: relative; /* Create a positioning context for the helix icon */
          }
          .helixleft{
          display: none;
          }
          .helixright{
          display: none;
          }
          /*workflow blocks*/
          
          .box-grid {
          display: block;
          padding-left: 30px;
          }
          
          .box {
          height: 50px;
          background-color:#17181E;
          color: #fff;
          text-align: center;
          padding-top: 20px;
          width: 85%;
          height: 320px;
          margin-bottom: 30px;
        }
        .text{
          font-size: 18px;
        }
        #case-section{
          display: block; /* Use flex layout */
          padding: 0;
          width: 150px;
          height: 10px;
          margin-left: 60px;
          margin-top: 50px;
          margin-bottom: 10px;
          }
          .image-grid {
            display: block;
            grid-template-columns: repeat(2, 1fr); /* Two columns */
            grid-gap: 5px; /* Gap between images */
            margin: 30px 0px 0px 0px;
          width: 100%;
          }
          
          .image {
         width: 100%;
         padding-left: 0;
          }
          
          .image img {
            max-width: 100%;
          }
          
          .image-with-shape4 {
            padding-left: 50px;
            margin-top: 20px;
          }
          .image-with-shape6 {
            padding-left: 400px;
            opacity: 40%;
            margin-top: 40px;
          }
          .image-with-shape5 {
            padding-left: 200px;
            margin-top: 20px;
            margin-bottom: 0;
          }
          .nav-contain{
            display: flex; /* Use flex layout */
            align-items: center; /* Vertically align items */
            justify-content: space-between; /* Distribute items along the main axis */
            margin-top: 50px;
            margin-bottom: 50px;
          }
        .nav-contain{
          display: block;
        }
        .container1{
        text-align: center;
        margin-right: 50px;
        font-size: 15px;
        }
        .nav-list1{
          display: block;
          margin-left: 60px;
        }
}
/* Media Query for Small Screens */
@media (min-width:769) and (max-width: 1200px) {

}